{% extends "events/base.html" %} {% block content %}
<div class="flex justify-center items-center">
  <div class="w-full max-w-md bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
    <form action="{% url 'accounts:user_login' %}" method="post">
      {% csrf_token %}
      <div class="mb-4">
        <h2 class="text-2xl font-semibold text-center mb-4">Login</h2>
        {% if error_message %}
        <p class="bg-red-200 text-red-600 p-3 mb-4 rounded">
          {{ error_message }}
        </p>
        {% endif %}
        <div class="mb-4">
          <label for="username" class="block text-sm font-medium text-gray-700"
            >Username:</label
          >
          <input
            id="username"
            name="username"
            type="text"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
            required
          />
        </div>
        <div class="mb-6">
          <label for="password" class="block text-sm font-medium text-gray-700"
            >Password:</label
          >
          <input
            id="password"
            name="password"
            type="password"
            class="form-input mt-1 block w-full border border-gray-300 rounded-md shadow-sm focus:outline-none focus:border-blue-500 focus:ring focus:ring-blue-500 focus:ring-opacity-50"
            required
          />
        </div>
        <div class="flex justify-center items-center space-x-4">
          <button
            type="submit"
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
          >
            Login
          </button>
          <span>or</span>
          <a
            href="{% url 'accounts:user_register' %}"
            class="bg-pink-500 hover:bg-pink-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
            >Register</a
          >
        </div>
      </div>
    </form>
  </div>
</div>
{% endblock %}
